@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  font-family: "Space Grotesk", sans-serif;
  padding: 0;
  margin: 0;
  line-height: 16px;
  box-sizing: border-box;
}
:root {
  --active-input-border: Linear gradient hsl(249, 99%, 64%) to
    hsl(278, 94%, 30%);
  --input-errors: hsl(0, 100%, 66%);
  --White: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
  font-size: 10px;
}
body {
  font-size: 1.8rem;
  font-weight: 500;
  background-image: url(/images/bg-main-mobile.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 24rem;
}
main {
  max-width: 37.5rem;
  padding: 3.2rem 1.6rem;
  margin: 0 auto;
}
img {
  display: block;
}
.cards {
  position: relative;
  height: 25.2rem;
}
.card-back {
  position: relative;
  max-width: 28.6rem;
  margin: 0 0 0 auto;
}
.card-back img {
  width: 100%;
}
.card-back .cvv {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
  color: white;
  padding-right: 3.6rem;
}
.card-front {
  position: absolute;
  max-width: 28rem;
  top: 8.9rem;
}
.card-front img {
  width: 100%;
}
.card-details {
  position: absolute;
  top: 0;
  padding: 1.8rem 2rem;
  width: 100%;
  height: 100%;
}
.card-details img {
  width: 5.4rem;
  margin-bottom: 7.7rem;
}
.card-number {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.12em;
  color: white;
  margin-bottom: 2rem;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 1rem;
  letter-spacing: 0.065em;
  text-transform: uppercase;
}
form {
  margin-top: 5rem;
  padding: 0 0.8rem;
  display: block;
}
.form-group {
  margin-top: 2.2rem;
  display: flex;
  flex-direction: column;
}
.form-group label {
  margin-bottom: 1rem;
  color: var(--Very-dark-violet);
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: 0.165em;
}
.form-group input {
  font-size: 1.7rem;
  letter-spacing: 0.03em;
  font-weight: 500;
  width: 100%;
  border: 1px solid var(--Light-grayish-violet);
  border-radius: 0.8rem;
  height: 4.5rem;
  padding: 0 1.6rem;
  color: var(--Very-dark-violet);
}

.form-exp-date {
  display: flex;
  gap: 1rem;
}

.form-group input:focus {
  border: 1px solid;
  border-color: var(--active-input-border);
}
.info-err {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: var(--input-errors);
  display: none;
}
.date {
  display: flex;
  gap: 0.8rem;
}
#month,
#year {
  width: 7.2rem;
}
.btn {
  display: block;
  margin-top: 2.8rem;
  border: 0;
  background-color: var(--Very-dark-violet);
  color: white;
  width: 100%;
  height: 5.3rem;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background: hsl(252, 45%, 70%);
}
.complete {
  display: none;
  text-align: center;
  margin-top: 4.5rem;
  padding: 0.9rem;
}
.complete img {
  margin: 0 auto;
}
.complete h1 {
  margin-bottom: 2.4rem;
}
.complete p {
  margin-bottom: 5rem;
  color: var(--Dark-grayish-violet);
}
@media screen and (min-width: 1024px) {
  body {
    background-image: url(/images/bg-main-desktop.png);
    background-size: 33.5% 100%;
    background-repeat: no no-repeat;
  }

  main {
    max-width: 111.2rem;
    margin: auto;
    padding: o;
    display: flex;
    align-items: center;
    gap: 12.7rem;
    height: 100vh;
  }
  .cards {
    height: 52.8rem;
    display: flex;
    flex-direction: column-reverse;
    max-width: max-content;
    gap: 3.8rem;
  }
  .card-front,
  .card-back {
    max-width: max-content;
  }
  .card-front {
    position: relative;
    top: 0;
  }
  .card-back {
    margin-left: 9.4rem;
  }
  .card-back .cvv {
    font-size: 1.4rem;
    padding-right: 5.8rem;
  }
  .card-details {
    padding: 2.8rem 3.2rem;
  }
}
